@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz Bilgi almak İstermisiniz</h1>
    <p>Güle Güle Dileriz <a href="https://www.youtube.com/">Kaçmak Gerekiyor</a>.</p>

</div>
